.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 56px;
  border-radius: 8px;
  border: 2px solid #7785db;
  padding: 8px 16px;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.input-label {
  font-size: 12px;
  margin-bottom: 4px;
}

.input {
  border: none;
  font-size: 16px;
  font-family: "Avenir next";
}

.input:focus {
  outline: none;
}
